<!DOCTYPE html>
<html>
  <head>
    <title>ProjetoUfabc</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body id="top">
    <%= render partial: 'shared/header' %>
    <div class="wrapper row3">
      <main class="hoc container clear">
      <div class="content">
        <%= yield %>
      </div>
      </main>
    </div>
    <%= render partial: 'shared/footer' %>
  </body>
</html>
